/* Navbar.module.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 20px;
    background-color: transparent;
    color: white;
  }
  
  .logo a {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .navLinks a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navLinks a:hover {
    text-decoration: underline;
  }
  